<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="csrf-token" content="{% csrf_token %}">
    <title>Ajax Posts</title>
    <link rel='stylesheet' href=''>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    {% load staticfiles %}
    <script src='{% static "note/js/note.js" %}'></script>
</head>
<body>
    <div class='wrapper'>
        <h1>My Posts</h1>
        <div class='main-content'>
            {% for item in posts %}
                <fieldset>
                    <legend><a class='deleteLink' href='{% url "note:delete" id=item.id %}' noteid={{item.id}}>Delete</a></legend>
                    <div class='note'>
                        <data class='note_id' type='hidden' value='{{item.id}}'></data>
                        <p class='note_content'>{{item.content}}</p>
                    </div>
                </fieldset>
            {% endfor %}
        </div>
        <fieldset>
            <legend>Add a note</legend>
            <form action='{% url "note:process" %}' method='post' id='new_note'>
                {% csrf_token %}
                <textarea name='content' rows='5' cols='40'></textarea>
                <br>
                <input type='submit' name='submit'>
            </form>
        </fieldset>
    </div>
</body>
</html>